{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Upload</title>
    <link rel="icon" type="image/png" href="{% static 'images/acespritech1.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <style>
      .navbar .navbar-collapse .navbar-nav .active {
        color: red;
        font-weight: 600;
      }

    </style>
    {% block headscript %}
    {% endblock headscript %}
  </head>

  <body>
      {% include 'navbar.html' %}
      <div class="container">
    {% block body %}
    {% endblock body %}
  </div>
  </body>
  <script>
    var path = window.location.pathname;
    if (path == '/connectserver') {
      $('#selectserver').addClass('active');
    }
    else if (path == '/connectserver/<error>') {
      $('#selectserver').addClass('active');
    }
  </script>
  {%block endscript %}
  {% endblock endscript %}

</html>
