<style>
    .my-custom-scrollbar {
        position: relative;
        height: min-content;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

</style>
<div class="row" style="min-height: min-content;">
    <div class="col-12">
        <h3 style="color: #28C76F;">Match CSV with Table</h3>
    </div>
    <div class="table-wrapper-scroll-y my-custom-scrollbar col-12">
        <table class="table border" style="max-width: max-content;">
            <tr>
                <td><h6>CSV Headers</h6></td>
                {% for header in raw_header %}
                <td style="width: fit-content;">
                    <select class="csv_header form-control" style="width: 150px;" name="header{{ forloop.counter}}" id="id_header{{ forloop.counter}}">
                        <option value="None">Select Header</option>
                        {% for option in raw_header %}
                        <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </select>
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td><h6>Table Columns</h6></td>
                {% for header in raw_header %}
                <td style="width: fit-content;">
                    <select class="table_field form-control" style="width: 150px;" name="field{{ forloop.counter}}" id="id_field{{ forloop.counter}}">
                        <option value="None">Select Field</option>
                        {% for option in table_columns_list %}
                        <option value="{{option}}">{{option}}</option>
                        {% endfor %}
                    </select>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>

<!-- hide option from selection if option is selected in other selection -->
<script>
    $(window).ready(function () {
        $('.csv_header').change(function () {
            reEvaluateAvailableOptions($('.csv_header'));
        });
        $('.table_field').change(function () {
            reEvaluateAvailableOptions($('.table_field'));
        });

        function reEvaluateAvailableOptions(select_dropdown) {
            var selectedValues = [];
            select_dropdown.each(function () {
                var value = $(this).val();
                if(value != 'None'){
                    selectedValues.push(value);
                }
            });
            console.log(selectedValues)

            // Disable all the selected values.
            select_dropdown.each(function () {
                var currentValue = $(this).val();
                $(this).children('option')
                    .prop("hidden",false)
                    .each(function () {

                        var value = this.value;
                        if (selectedValues.indexOf(value) >=0 && currentValue != value) {
                            $(this).prop('hidden', true);
                        }
                    });
            });
        }
        $('#id_checkcsv').prop('hidden',false)
        $('#id_commit').prop('hidden',false)
    })
</script>
