{% extends 'base.html' %}
{% block body %}
<div class="d-flex justify-content-center">
<form method='POST' class="w-25 ">
    {% csrf_token %}
    <center>
        {% for field in form %}
        <div class='form-group'>
            <td>{{field.label}}</td>
            <td>{{field}}</td>
        </div>
        {% endfor %}
        <center><input type="submit" value="Submit" class="btn btn-success" /></center>
        {% if error %}
            {{error}}
        {% endif %}
    </center>

</form>
</div>
{% endblock body %}
{% block endscript %}
<script>
    $('#id_database_type').change(function () {
        if ($('#id_database_type').val() == 'postgres') {
            $('#id_port').val('5432')
        }
        else if ($('#id_database_type').val() == 'mysql') {
            $('#id_port').val('3306')
        }
    }).trigger('change')
</script>
{% endblock endscript %}
