{% extends 'base.html' %}
{% block body %}
<form method='POST'>
    {% csrf_token %}
    <center>
        <table class='table card' style="width:max-content; margin-top: 2%;">
            <tr>
                <td>{{form.database_type.label}}</td>
                <td>{{form.database_type}}</td>
            </tr>
            <tr>
                <td>{{form.username.label}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.password.label}}</td>
                <td>{{form.password}}</td>
            </tr>
            <tr>
                <td>{{form.host.label}}</td>
                <td>{{form.host}}</td>
            </tr>
            <tr>
                <td>{{form.port.label}}</td>
                <td>{{form.port}}</td>
            </tr>
            <tr>
                <td colspan="2"><center><input type="submit" value="Submit" class="btn btn-success" /></center></td>
            </tr>
            
            {% if error %}
            <tr>
                <td colspan="2">{{error}}</td>
            </tr>
            {% endif %}
                
            
        </table>
    </center>

</form>

{% endblock body %}
{% block endscript %}
<script>
    $('#id_database_type').change(function () {
        if ($('#id_database_type').val() == 'postgres') {
            $('#id_port').val('5432')
        }
        else if ($('#id_database_type').val() == 'mysql') {
            $('#id_port').val('3306')
        }
    }).trigger('change')
</script>
{% endblock endscript %}
