{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" style="width: auto; background-image: linear-gradient(to right,#81F8B8, #28C76F);">
  <a class="navbar-brand" href="https://acespritech.com/" target="_blank">
    <img src="{% static 'images/acespritech1.png' %}" width="40" height="46"
         class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link font-weight-bold" href="{% url 'myapp:ConnectServerRedirect' %}" id='selectserver'>Select Server</a>
      <a class="nav-item nav-link font-weight-bold" href="{% url 'myapp:ListDatabaseView'%}" id='id_upload_csv'>Upload CSV</a>
      <a class="nav-item nav-link font-weight-bold" href="{% url 'upload_manage:History' %}" id='id_history'>Logs</a>
      <a class="nav-item nav-link font-weight-bold" href="{% url 'nevigate:Logout'%}" id='selectserver'>Logout</a>
    </div>
  </div>
</nav>
