<!-- <center><h4>Table Schema Details</h4></center> -->
<table class="table card" style="width: min-content;">
    <tr>
        <th>Field</th>
        <th>Type</th>
        <th>Null</th>
        <th>Key</th>
        <th>Default</th>
        <th>Extra</th>
    </tr>

    {% for row in columns %}
    <tr>
        <td>{{row.0}}</td>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>
        <td>{{row.4}}</td>
        <td>{{row.5}}</td>
    </tr>
    
    {% endfor %}
</table>

